<h1>This is the home page</h1>

<p>Please enter your first score:
  <form action="/score" method="post">
    <div><label for="name">Score:</label><br />
    <input type="text" id="score" name="score" /></div>
    <div><input type="submit" value="submit" /></div>
  </form>  
</p>