<table>
  <tr>
    <% game.frames.each_index do |i| %>
      <th><%= i + 1 %></th>
    <% end %>
  </tr>
  <tr>
    <% game.frames.each do |frame| %>
      <td><%= frame %></td>
    <% end %>
  </tr>
</table>