<form action="/score" method="post">
  <div><label for="pins_input">Pins standing:</label><br />
  <input type="text" id="pins_input" name="pins" /></div>
  <div><input type="submit" value="sumbit" /></div>
</form>